@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
}

.nav-btn-styling {
  box-shadow: -5px 0 20px -5px #00d1ff, 5px 0 20px -5px #001aff;

  transition: box-shadow 0.2s;
}

.nav-btn-styling:hover {
  background: linear-gradient(90deg, #3096ff, #3096ff 78%, #00d1ff);
  box-shadow: none;
  border: none;
}

.Hero-Section-bgColor {
  background-image: url(https://uploads-ssl.webflow.com/63a4982…/64363b0…_Ellipse%2050.webp),
    radial-gradient(circle, rgba(0, 56, 255, 0.5), #000000 37%, #000 60%);
}
